# Dependencies
/node_modules
/.pnp
.pnp.js

# Production
/.next
/out
/build

# System Files
.DS_Store
Thumbs.db

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vercel
